@using MvcCv.Models.Entity
@model List<TblEgitimim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header p-2">

                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <h2>Eğitim Listesi</h2>
                            <table class="table table-bordered">
                                <tr>
                                    <th>ID</th>
                                    <th>Başlık</th>
                                    <th>Alan</th>
                                    <th>Bölüm</th>
                                    <th>GNO</th>
                                    <th>Tarih</th>
                                    <th>Sil</th>
                                    <th>Düzenle</th>
                                </tr>
                                @foreach (var x in Model)
                                {
                                    <tr>
                                        <td>@x.ID</td>
                                        <td>@x.Baslik</td>
                                        <td>@x.AltBaslik1</td>
                                        <td>@x.AltBaslik2</td>
                                        <td>@x.GNO</td>
                                        <td>@x.Tarih</td>
                                        <td>
                                            <a class="btn btn-danger btn-sm" href="/Egitim/EgitimSil/@x.ID">
                                                <i class="fas fa-trash">
                                                </i>
                                                Sil
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-info btn-sm" href="/Egitim/EgitimDuzenle/@x.ID">
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Düzenle
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </table>
                            <br />
                            <a href="/Egitim/EgitimEkle/" class="btn btn-warning">Yeni Eğitim Ekle</a>
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</body>
</html>
